/* ------------------ divs ------------------- */

.expressions {
	width: 100vw;
	min-height: 80px;
    max-height: 12vh;
	background-size: 100%;
	background-repeat: no-repeat;
}

.expressions0 {
	background-image: url("../img/textDark.png");
}

.expressions1 {
	background-image: url("../img/textRed.png");
}

.expressions2 {
	background-image: url("../img/textDark.png");
}

.expressions3 {
	background-image: url("../img/textBrown.png");
}

.expressions4 {
	background-image: url("../img/textRed.png");
}

.expressions5 {
	background-image: url("../img/textLight.png");
}

/* --------------------------- modal ---------------------------- */
/* The Modal (background) */
.modal-mycss {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-mycss {
    background-color: #061610;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center!important;
}

/* The Close Button */
.close-mycss,
.close2-mycss {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-mycss:hover,
.close-mycss:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalText-mycss {
	color: white;
	text-align: center;
    margin: 0px;
    padding-bottom: 20px;
}

.modalHeader {
    padding-top: 20px;
    text-align: center;
    color: white;
}

.green {
    color: #42DCA3;
}
